@import '../styles/main';

.container {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 0 5ch 0;
    color: gray;

    svg {
        font-size: 2rem;
        position: relative;
    }

    p {
        font-family: 'Rubik', sans-serif;
        margin: 0;
    }
}